.center-box{
align-items: center;
justify-content: center;
display: flex;
height: 300px;
background-color: blue;
}
.center-item{
height: 200px;
width: 200px;
background-color: white;
}
.nav{
background-color: #2196f3c9;
display: flex;
align-items: center;
justify-content: center;
color: white;
}
ul{
    display:flex;
    list-style-type:none;
}
a{
    color: white;
    text-decoration: none;
    margin: 35px;
    padding: 45px;
    font-size:24px;
}
img{
    width: 80px;
    padding: 30px;
}