#header{
    height:100px;
    width:75%;
    margin:20px auto;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}
#main{
        height:100px;
        width:75%;
        margin:20px auto;
        border:1px solid black;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
}